<form action="/edit/{{post.id}}" method="POST">
    <p>Novo Título: </p>
    <input type="text" name="titulo">
    <p>Novo Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Editar Postagem</button>
</form>c